@model IEnumerable<ApplicationCore.Models.JobResponseModel>

<h1>Jobs</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                JobCode
            </th>
            <th>
                NumberOfPosition
            </th>
            <th>
               Title
            </th>
            <th>
                Description
            </th>
            <th>
                StartDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobCode)
            </td>
            <td>
                <a>@item.NumberOfPositions </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                <a asp-action="Details" asp-controller="Jobs" asp-route-id="@item.Id">Details</a>
            </td>
            
        </tr>
}
    </tbody>
</table>
